{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Shows{% endblock %}
{% block content %}
<div class="row shows">
    <h3>Upcoming Shows</h3>
    {% if shows[1].new_shows == 0 %}
        <div class="check-available">
            <p>No upcomming shows</p>
        </div>
    {% endif %}
    {%for show in shows[0] %}
        {% if not show.old_show %}
            <div class="col-sm-4">
                <div class="tile tile-show">
                    <img src="{{ show.artist_image_link }}" alt="Artist Image" />
                    <h4>{{ show.start_time|datetime('full') }}</h4>
                    <h5><a href="/artists/{{ show.artist_id }}">{{ show.artist_name }}</a></h5>
                    <p>playing at</p>
                    <h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<div class="row shows">
    <h3>Past Shows</h3>
    {% if shows[1].old_shows == 0 %}
    <div class="check-available">
        <p>No past shows</p>
    </div>
    {% endif %}
    {%for show in shows[0] %}
        {% if show.old_show %}
            <div class="col-sm-4">
                <div class="tile tile-show">
                    <img src="{{ show.artist_image_link }}" alt="Artist Image" />
                    <h4>{{ show.start_time|datetime('full') }}</h4>
                    <h5><a href="/artists/{{ show.artist_id }}">{{ show.artist_name }}</a></h5>
                    <p>played at</p>
                    <h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}