
/**
 * @file
 * Quickfix stylesheet file.
 *
 * Contains immediate fixes that should be revised later and added in the
 * main.css.
 */
#delete-error {
  color: red;
}
.is-invalid {
  border-color: red;
}
.invalid-feedback > span {
  color: red;
}
button.edit-property {
  background-color: rgb(75, 68, 68);
}
button.edit-property:hover {
  background-color: rgb(37, 35, 35);
}
a > button.edit-property {
  color: white;
}
a > button.edit-property:hover {
  color: white;
}
.my-modal-footer {
  padding: 10px;
  text-align: right;
}
.my-modal-header {
  padding: 20px;
  padding-bottom: 5px;
}
.fade_rule {
  height: 1px;
  background-color: #E6E6E6;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  background-image: linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
  background-image: -o-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
  background-image: -moz-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
  background-image: -webkit-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
  background-image: -ms-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
  background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, gray), color-stop(0.98, white) );
}
.btn-group-toggle {
  margin-left: 20%;
}
.visible-doc {
  position: static;
  opacity: 1;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
}
.hide-doc {
  position:absolute;
  opacity: 0;
}
#temp-header {
  font-size:x-large;
  margin-bottom: 15px;
}
#temp-header > i {
  font-size: large;
}

.check-shows {
  display: inline-block;
  padding: 20px 30px;
  margin-bottom: 30px;
  border-radius: 15px;
  background: #ffffc6;
}